@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'jetbrains-mono', sans-serif;
}

body {
    background-color: #1D1D1D;
    padding: 20px;
    animation: fadeInAnimation ease 2s;
}

a {
    text-decoration: none;
    color: #DDDDDD;
    transition: all 0.3s ease;
}
a:hover {
    color: #40CC40 !important;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
